   body {
            font-family: 'Roboto', sans-serif;
            background-color: #ffffff;
            color: white;
        }
        .navbar {
            background-color: #af3301;
        }
        .navbar-nav .nav-link {
            color: white;
            font-weight: 500;
        }
        .main-content {
            background-image: url('img/pexels-pixabay-221011.jpg');
            background-size: cover;
            background-position: center;
            padding: 100px ;
            color: white;
            text-align: center;
            position: absolute;
            right: 0%;
        }
        .main-content h1 {
            font-size: 3.5rem;
            font-weight: 700;
        }
        .main-content p {
            font-size: 1.25rem;
            font-weight: 300;
        }
        .sidebar {
            background-color: #af3301;
            padding : 50px ;
            text-align: center;
            position: absolute;
            left: 0%;
            height:100%;
            width: 25%;

        }
        .sidebar img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit:fill;
            transform: scaleX(-1);
        }
        .sidebar h2 {
            font-size: 1.75rem;
            font-weight: 700;
            margin-top: 20px;
        }
        .sidebar p {
            font-size: 1rem;
            font-weight: 300;
        }
        .sidebar .contact-info {
            margin: 20px 0;
        }
        .sidebar .contact-info p {
            margin: 5px 0;
        }
        .sidebar .social-icons a {
            color: white;
            margin: 0 10px;
            font-size: 1.25rem;
        }
        .sidebar .btn {
            background-color: white;
            color: #3b5998;
            font-weight: 700;
            border: none;
            padding: 10px 20px;
            margin-top: 20px;
        }
