   body {
            font-family: 'Roboto', sans-serif;
            background-color: #ffffff;
            color: white;
        }
        .navbar {
            background-color: #af2401;
        }
        .logo{

            height: auto;
            padding: 10px;
            width: 1%;
        }
        .navbar-nav .nav-link {
            color: white;
            font-weight: 500;
        }
        .container-content {
            max-width: 15%;
            width: 10px;
            margin: 0 auto; /* Centralizar o conteúdo */
            margin-bottom: 20px;
        }
        
        /* Ajustando as legendas do carrossel com estilo Bootstrap */
        .carousel-caption p {
            color: #E0E0E0 !important; /* Texto claro para a legenda do carrossel */
            background-color: rgba(0, 0, 0, 0.5); /* Fundo levemente escuro */
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        
        /* Ajustando o carrossel com bordas arredondadas e sombra */
        .carousel-item {
            border-radius: 15px; /* Cantos arredondados */
            border: 1px solid #B0B0B0; /* Borda cinza clara */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra cinza clara */
            margin-bottom: 20px;
        }
        
        /* Se você deseja adicionar arredondamento e borda às imagens do carrossel também */
        .carousel-item img {
            border-radius: 15px; /* Cantos arredondados nas imagens */
            border: 1px solid #B0B0B0; /* Borda cinza clara nas imagens */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra cinza clara nas imagens */
        }
        
        .main-content {
            background-image: url('img/pexels-pixabay-221011.jpg');
            background-size: cover;
            background-position: center;
            padding: 100px ;
            color: white;
            text-align: center;
            position: absolute;
            right: 0%;
        }
        .main-content h1 {
            font-size: 3.5rem;
            font-weight: 700;
        }
        .main-content p {
            font-size: 1.25rem;
            font-weight: 300;
        }
        .sidebar {
            background-color: #c22700;
            padding : 50px ;
            text-align: center;
            position: absolute;
            left: 0%;
            height:100%;
            width: 25%;
            top: 6%;

        }
        .sidebar img {
            border-radius: 50%;
            width: 150px;
            height: 150px;

        }
        .sidebar h2 {
            font-size: 1.75rem;
            font-weight: 700;
            margin-top: 20px;
        }
        .sidebar p {
            font-size: 1rem;
            font-weight: 300;
        }
        .sidebar .contact-info {
            margin: 20px 0;
        }
        .sidebar .contact-info p {
            margin: 5px 0;
        }
        .sidebar .social-icons a {
            color: white;
            margin: 0 10px;
            font-size: 1.25rem;
        }

